<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Data Input Tool</title>
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/ngstorage/ngStorage.min.js"></script>
	<script type="text/javascript" src="../dist/dwAuthentification.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="dit.css" />

</head>
<body ng-app="dit">
	<dw-login-dialog>
		<form name="loginForm" ng-submit="vm.login()" novalidate>
			<label for="username">Username:</label>
			<input type="text" id="username" ng-model="vm.credentials.username">
			<label for="password">Password:</label>
			<input type="password" id="password" ng-model="vm.credentials.password">
			<label for="remember">Remember me</label>
			<input type="checkbox" id="remember" ng-model="vm.credentials.store">
			<button type="submit">Login</button>
		</form>
	</dw-login-dialog>
	<div ng-controller="IndexController as vm">
		<div ng-if="vm.currentUser">Welcome, {{ vm.currentUser.name }}</div>
		<div ng-if="vm.isAuthorized(vm.userRoles.admin)">You're admin.</div>
		{{ vm.currentUser.role }} {{ vm.currentUser.role == vm.userRoles.editor}}
		<div ng-switch on="vm.currentUser.role">
			<div ng-switch-when="admin">You're admin.</div>
			<div ng-switch-when="editor">You're editor.</div>
			<div ng-switch-default>You're something else.</div>
		</div>
	</div>
</body>
</html>
